    body {
      display: flex;
      position: relative;
      background: #121213;
      height: 100vh;
      color: #FFF;
      justify-content: center;
      margin: auto;
      align-items: center;
      overflow: hidden;
      font-family: 'Bricolage Grotesque', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    }

    .timeElements {
      width: 100%;
    }

    #timer {
      display: none;
      flex-direction: column;
      align-items: center;
      font: 800 24px/32px "Bricolage Grotesque", sans-serif;
    }
    
    #gamePlay {
      background: var(--darktheme-fill, #121213);
      display: none;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    #results {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }

    #endGameMessage {
      font: 800 32px/48px "Bricolage Grotesque", sans-serif;
      text-transform: uppercase;
      width: 60%;

    }

    .row {
      display: flex;
      flex-direction: row;
      gap: 4px;
      align-items: flex-start;
      justify-content: flex-start;
      flex-shrink: 0;
      position: relative;
      text-transform: capitalize;
      font-weight: bold;
    }

    .square {
      background: #E2A85A;
      border-radius: 4px;
      display: none;
      flex-direction: column;
      gap: 0px;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 62px;
      height: 62px;
      position: relative;
      font: 800 32px/32px "Bricolage Grotesque", sans-serif;
    }

    .form {
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 4px;
      color: #fff;
    }

    #formTop {
      border-radius: 40px 40px 0px 0px;
      overflow: hidden;
    }

    #formTop .square {
      padding-top: 12px;
    }

    #formBottom {
      border-radius: 0px 0px 20px 20px;
      overflow: hidden;
    }

    #formBottom .square {
      padding-bottom: 0px;
    }

    .form input {
      background: #222;
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 0px;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      padding: 0;
      width: 62px;
      height: 62px;
      position: relative;
      font: 800 32px/32px "Bricolage Grotesque", sans-serif;
      text-transform: uppercase;
      text-align: center;
      border: none;
    }

    input:valid {
      background: #A37231;
      border-radius: 100px;
    }

    input:focus-visible {
      outline: none;
      background: #A37231;
      caret-color: transparent;
      border-radius: 4px;

    }

    #lettuce {
      display: none;
      background: #B5DD35;
      height: 8px;
      width: 100%;
    }

    #cheese {
      display: none;
      background: #FB6900;
      height: 8px;
      width: 100%;
    }

    #startScreen {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 100vh;

    }

    .form button, #startButton {
      display: flex;
      background: #e2a85a;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font: 800 24px/32px "Bricolage Grotesque", sans-serif;
      border-radius: 100px;
      padding: 14px 32px 14px 32px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      position: relative;
    }

    .start-graphic {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #dcdcdc;
  border-width: 1px;
  padding: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.image-title {
  background: #f9c16d;
  flex-shrink: 0;
  width: 278.67px;
  height: 193.8px;
  position: relative;
}
.title {
  color: #000000;
  text-align: center;
  font: 400 30px/30.8px "KarnakPro-CondensedBlack", sans-serif;
  position: absolute;
  left: 73.54px;
  top: 137px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger-image {
  position: absolute;
  left: 115px;
  top: 48px;
  overflow: visible;
}
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.copy {
  color: #959595;
  text-align: center;
  font: 500 14px/20px "Inter", sans-serif;
  position: relative;
  width: 235px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-button {
  border-radius: 44px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  padding: 10.59px 104.92px 12.41px 103.75px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.play {
  color: #333333;
  text-align: center;
  font: 700 14px/20.8px "Inter", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
